[Match]
Name=brnat

[Network]
IPv4Forwarding=yes
DHCPServer=true
Address=10.9.8.7/24

[DHCPServer]
DNS=10.9.8.7
PoolOffset=100
PoolSize=100

[DHCPv4]
RouteMetric=200

[IPv6AcceptRA]
RouteMetric=200

# [DHCPServerStaticLease]
# MACAddress=52:54:00:12:34:56
# Address=10.9.8.235
