/* waybar css */

* {
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: monospace;
    font-weight: bold;
    font-size: 16px;
}

button {
    /* Use box-shadow instead of border so the text isn't offset */
    box-shadow: inset 0 -3px transparent;
    /* Avoid rounded borders under each button name */
    border: none;
    border-radius: 0;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
button:hover {
    background: inherit;
    box-shadow: inset 0 -3px #ffffff;
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: #000000;
    }
}

label:focus {
    background-color: #000000;
}

window#waybar {
    background-color: rgba(31, 69, 41, 0.8);
    color: #ffffff;
    transition-property: background-color;
    transition-duration: .5s;
}

#scratchpad,
#window,
#custom-idle-state,
#custom-volume-state,
#custom-pavucontrol,
#custom-datetime,
#tray {
    padding: 0 10px;
}

#workspaces button:hover,
#scratchpad:hover,
#custom-idle-state:hover,
#custom-volume-state:hover,
#custom-pavucontrol:hover,
#custom-datetime:hover
{
    background-color: rgba(255, 255, 255, 0.3);
}

#scratchpad,
#custom-idle-state
{
    background: rgba(0, 0, 0, 0.2);
}

#workspaces button {
    padding: 0 5px;
    background-color: transparent;
    color: #ffffff;
}

#workspaces button.focused {
    background-color: #64727D;
    box-shadow: inset 0 -3px #ffffff;
}

#workspaces button.urgent {
    background-color: #eb4d4b;
}

#workspaces {
    margin-left: 0;
    margin-right: 0;
}

#scratchpad.empty {
	background-color: transparent;
}

#privacy-item {
    padding: 0 7px;
    background-color: rgba(207, 87, 0, 0.8);
}

#tray {
    background-color: rgba(0, 255, 127, 0.5);
}

