[Desktop Entry]
Name=NotepadNext
GenericName=Text Editor
Exec=/home/u/a/apps/appimages/notepadnext.AppImage %F
Icon=/home/u/a/local.share/icons/local/notepadnext.png
Terminal=false
Type=Application
MimeType=text/plain;
Categories=TextEditor;Development;
StartupNotify=true

