[Desktop Entry]
Name=Android Studio
Exec=bash -c ~/a/apps/android-studio/bin/studio
Icon=android-studio
Terminal=false
Type=Application
Categories=Development;
StartupNotify=true

