[Desktop Entry]
Name=NotepadNext
GenericName=Text Editor
Exec=bash -c '~/a/apps/appimages/notepadnext.AppImage %F'
Icon=notepadnext
Terminal=false
Type=Application
MimeType=text/plain;
Categories=TextEditor;Development;
StartupNotify=true

