[Desktop Entry]
Name=Obsidian
Icon=obsidian
Exec=bash -c ~/a/apps/appimages/Obsidian.AppImage
Terminal=false
Type=Application
MimeType=text/plain;
Categories=TextEditor;Development;
StartupNotify=true

