[Desktop Entry]
Name=PeaZip Add Archive
Icon=peazip-add
Exec=bash -c '~/a/apps/peazip/peazip -add2archive "$@"' peazip %F
Terminal=false
Type=Application
Categories=Utility;Archiving;Compression;
MimeType=application/octet-stream;
StartupNotify=true

