[Desktop Entry]
Name=Sublime Text
Icon=sublime-text
Exec=bash -c '~/a/apps/sublime_text/sublime_text "$@"' sublime_text %F
Terminal=false
Type=Application
MimeType=text/plain;
Categories=TextEditor;Development;
StartupNotify=true

