[Desktop Entry]
Name=VSCodium
Icon=vscodium
Exec=bash -c '~/a/apps/VSCodium/codium $@' vscodium %F
Terminal=false
Type=Application
Categories=TextEditor;Development;
StartupNotify=true

