[Desktop Entry]
Version=1.0
Type=Application
Name=Zed
GenericName=Text Editor
StartupNotify=true
Exec=bash -c '~/a/apps/zed.app/bin/zed "$@"' zed %U
Icon=zed
Categories=Utility;TextEditor;Development;IDE;
Keywords=zed;
MimeType=text/plain;application/x-zerosize;x-scheme-handler/zed;

